<h1>カテゴリー</h1>
<ul>
    <li><a href="news">ニュース</a></li>
    <li><a href="study">学問</a></li>
    <li><a href="foods">食べ物</a></li>
    <li><a href="hobby">趣味</a></li>
    <li><a href="chat">その他雑談</a></li>
</ul>
<p><a href="create">登録</a></p>
<p><a href="login">ログイン</a> </p>