var news = require("../controllers/home").news;
<p><a href="/">戻る</a> </p>
<h1>ニュース</h1>
<p><a href="thread">スレッド作成</a> </p>

<hr>
<form action="/news" method="post">
    <p>name</p>
    <input type="text" name="name" placeholder="name" id="inputTitle" />
    <p>message</p>
    <textarea id="inputContent" name="message" rows="10" cols="30"></textarea>
    <br />
    <button id="submitButton" type="submit">送信</button>
</form>
<hr>



