<p><a href="/">戻る</a>
<h1>学問</h1>
<p><a href="thread">スレッド作成</a> </p>
<p>スレッド</p>

<hr>
<form action="/study" method="post">
    <p>name</p>
    <input type="text" name="name" placeholder="name" id="inputTitle" />
    <p>message</p>
    <textarea id="inputContent" name="message" rows="10" cols="30"></textarea>
    <br />
    <button id="submitButton" type="submit">送信</button>
</form>
<hr>
