<h2>スレッド作成</h2>
<form>
    <div>
        <p>カテゴリー</p>
        <select>
            <option hidden selected>選択してください</option>
            <option value="news">ニュース</option>
            <option value="study">学問</option>
            <option value="foods">食べ物</option>
            <option value="hobby">趣味</option>
            <option value="chat">その他雑談</option>
        </select>
    </div>
    <div>
        <label>スレッド名</label>
        <input>
    </div>
    <div>
        <label>メッセージ</label>
        <textarea></textarea>
    </div>
    <button>作成</button>
</form>
<p><a href="/">戻る</a></p>